.wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #E3DBF6 0%, #CDE8F6 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial; /* заменили на Arial */
  position: relative;
}




/* Центр */
.centerContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -60px;
}

.title {
  color: #2A6FDB;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

